li {
    margin: 0;
    list-style: none;
    width: 100%;
}


li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 14px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    background-color: #ddd;
    color: black;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

.bar_title {
    margin-left:0;
    padding-left:0;
    background: #75787d;
    padding: 0;
}

.bar_title:hover {
    background: #75787d;
    color: #f2f2f2;
}