
/*.outer {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.8);
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
} 
*/

.video{
    z-index : 10;
    top: 0;
}