body {
    font-family: Cambria;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: url("./photos/back.png") rgb(133, 128, 132);
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
